<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToQuickAdd()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let groceryItem of shoppingList" >
        <ion-label>{{ groceryItem.name }}</ion-label>
        <ion-label>{{ groceryItem.age | ageReadable }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
