<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ groceryListName }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToQuickAdd()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        @for (groceryItem of shoppingList$ | async; track groceryItem.name) {
          <ion-col size="6">
            <ion-card class="grocery-item-card">
              <ion-card-content>
                <div class="item-header">
                  <h2 class="item-name">{{ groceryItem.name }}</h2>
                  <ion-button fill="clear" size="small" class="add-button" (click)="navigateToQuickAdd()">
                    <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                  </ion-button>
                </div>
                <ion-chip class="quantity-chip">
                  <ion-label>{{ groceryItem.quantity }} {{ groceryItem.quantityMetric }}</ion-label>
                </ion-chip>
                <p class="item-age">{{ groceryItem.age | ageReadable }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
