<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quick Add</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-content><ion-searchbar animated="true" placeholder="Search for items" (ionInput) = "onSearChange($event)"></ion-searchbar></ion-content>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">quick-add</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="staggered-grid-container">
    <div class="staggered-grid">
      @for (item of displayItems$ | async; track $index) {
        <app-quick-list-item
        [item] = "item"
        (add) = "handleItemAdd($event)"
        >
        </app-quick-list-item>
      }
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="onScroll($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
