<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quick Add</ion-title>
    <ion-buttons slot="end">
      <ion-button ><ion-icon name="add-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">quick-add</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of displayedItems">
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onScroll($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
